# Ignore file for Visual Studio 2008

# use glob syntax
syntax: glob

# Ignore Visual Studio 2012 files
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.dbmdl
*.gpState
*.guidancestate
*.sln.DotSettings
UpgradeLog.XML
UpgradeLog.htm
_UpgradeReport_Files*/
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.orig

# Ignore Visual Studio 2013 files
*.jmconfig

# Ingore SVN Files
.svn

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Ignore nuget packages
*.nupkg

# SQL Server files
App_Data/*.mdf
App_Data/*.ldf


# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac
.DS_Store

#Azure profiling file
*.vspx
.sass-cache/
*.ncrunchproject
*NCrunch*
*ncrunch*
.idea/
src/packages/
src/.vs/
tools/
